* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Urbanist', sans-serif;
font-family: 'Vujahday Script', cursive; */
}

@media screen and (max-width: 450px) {
  .app {
    width: 100%;

  }
}